/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 77%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* added during recording */

.line {
  width: 5rem;
  border-bottom: 0.2rem solid var(--clr-primary-5);
  margin-bottom: 2rem;
}

/*
=============== 
Navbar
===============
*/

.navbar-container {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.navbar-fixed {
  position: fixed;
  background-color: var(--clr-white);
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
}

.nav-logo {
  justify-self: flex-start;
}

.nav-btn {
  justify-self: flex-end;
  font-size: 2rem;
  color: var(--clr-primary-4);
}

.nav-links {
  display: none;
  justify-self: flex-end;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

.nav-links a {
  color: var(--clr-grey-3);
  letter-spacing: var(--spacing);
  font-weight: 800;
  transition: var(--transition);
}

.nav-links a:hover {
  color: var(--clr-primary-5);
}

@media screen and (min-width: 760px) {
  .nav-links {
    display: grid;
  }
  .nav-btn {
    display: none;
  }

  .navbar {
    background-color: var(--clr-primary-10);
  }

  .navbar-fixed {
    background-color: var(--clr-white);
  }
}

/*
=============== 
Sidebar
===============
*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-grey-10);
  display: grid;
  transition: var(--transition);
  transform: translateX(-100%);
  opacity: 0;
  z-index: 5;
}

.show-sidebar {
  transform: translateX(0);
  opacity: 1;
}

.cross {
  font-size: 3rem;
  color: red;
  padding-right: 1rem;
  display: inline-block;
  margin-left: auto;
}

.cross:hover {
  color: rgb(236, 100, 100);
}

.sidebar-content {
  text-align: center;
}

.sidebar-links {
  padding-bottom: 3rem;
}

.sidebar-links a {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem 0;
  color: var(--clr-grey-6);
  transition: var(--transition);
}

.sidebar-links a:hover {
  color: var(--clr-primary-7);
}

/*
=============== 
Hero
===============
*/
/* underline added to globals */
.hero {
  background-color: var(--clr-primary-10);
}

.hero-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.hero-banner {
  padding: 1rem;
}

.hero-text {
  letter-spacing: var(--spacing);
  color: var(--clr-grey-5);
  margin-bottom: 2rem;
}

.hero-btn {
  margin-bottom: 3rem;
}

.soc-icons {
  font-size: 1.5rem;
}

.soc-icon {
  padding-right: 2rem;
}

.hero-img {
  display: block;
  position: relative;
  max-width: 20rem;
}

.show-img {
  display: none;
}

.hero-photo {
  border-radius: var(--radius);
  position: relative;
}

.hero-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid var(--clr-primary-5);
  top: 2rem;
  left: 2rem;
  border-radius: var(--radius);
}

@media screen and (min-width: 935px) {
  .show-img {
    display: block;
  }

  .hero-banner {
    display: grid;
    min-height: 90vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
}

/*
=============== 
About
===============
*/
/* section title added to globals */

.about-img-container {
  max-width: 20rem;
  margin: 5rem auto;
  position: relative;
  z-index: 3;
}

.about-container {
  margin-bottom: 4rem;
}

@media screen and (min-width: 960px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .about-img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid var(--clr-primary-5);
    border-radius: var(--radius);
    top: 2rem;
    left: -2rem;
  }

  .about-img {
    position: relative;
  }
}
/*
=============== 
Services
===============
*/
/* small screen layout setup */
/* bg-grey in globals */

.services-container {
  padding-bottom: 4rem;
}

.services {
  background: var(--clr-grey-10);
  margin: 2rem 0;
  text-align: center;
}

.service-line {
  width: 5rem;
  border-bottom: 0.2rem solid var(--clr-primary-5);
  margin: 0 auto;
}

.title {
  padding: 5rem 0;
}

.service {
  background-color: var(--clr-white);
  text-align: center;
  margin-bottom: 2rem;
  transition: var(--transition);
}

.service-icon {
  font-size: 2rem;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.service-title {
  margin-bottom: 1rem;
}

.card-line {
  width: 3rem;
}

.service-text {
  text-align: center;
  padding: 0 2rem;
  padding-bottom: 3rem;
  transition: var(--transition);
}

.service:hover {
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
}

.service:hover p {
  color: var(--clr-white);
}

.service:hover .card-line {
  border-color: var(--clr-white);
}
@media screen and (min-width: 660px) {
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

/*
=============== 
Projects
===============
*/

.projects {
  padding: 4rem 0;
}

.projects-header {
  text-align: center;
}

.projects-header p {
  padding: 2rem;
  max-width: 500px;
  margin: 0 auto;
}

.projects-line {
  width: 5rem;
  border-bottom: 0.2rem solid var(--clr-primary-5);
  margin: 0 auto;
}

.projects-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 200px 200px 200px;
}

.tile-img {
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
  position: absolute;
}

.tile {
  position: relative;
  transition: var(--transition);
}

.tile-info-container {
  opacity: 0;
  display: grid;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  transition: var(--transition);
  background-color: rgba(232, 185, 74, 0.9);
  outline: 3px solid var(--clr-white);
}

.tile-info p {
  color: var(--clr-white);
  transition: var(--transition);
}

.tile:hover .tile-info-container {
  opacity: 1;
  outline-offset: -2rem;
}

@media screen and (min-width: 671px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
  }
}

@media screen and (min-width: 960px) {
  .projects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1190px) {
  .tile-1 {
    grid-row: 1/3;
  }
  .tile-2 {
    grid-column: 2/4;
  }
}

/*
=============== 
Connect
===============
*/

.contact {
  position: relative;
  display: grid;
  align-items: center;
  height: 100vh;
  margin: 3rem 0;
  clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
}

.video {
  height: 100vh;
  width: 100%;
  display: block;
  position: absolute;
  opacity: 0.3;
  object-fit: cover;
}

.contact-container {
  text-align: center;
  background-color: var(--clr-primary-10);
  max-width: 40rem;
  height: 30rem;
  margin: 4rem auto;
  position: relative;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

.contact-container h2 {
  padding-top: 4rem;
}

.contact-line {
  width: 5rem;
  border-bottom: 0.2rem solid var(--clr-primary-5);
  margin: 0 auto;
  margin-bottom: 2rem;
}

.contact-btn {
  margin-bottom: 4rem;
}

/*
=============== 
Skills
===============
*/

.skills-header {
  text-align: center;
  padding: 4rem 0;
}

.skills-container {
  padding-bottom: 4rem;
}

.skills {
  background-color: var(--clr-primary-8);
}

.front-end,
.back-end {
  padding: 0 2rem;
}

.skills-line {
  width: 5rem;
  border-bottom: 0.2rem solid var(--clr-primary-5);
  margin: 0 auto;
}

.skill {
  padding: 0.5rem 0;
}

.skill p {
  margin-bottom: 0.5rem;
  color: black;
}

.bar {
  background-color: var(--clr-white);
  border-radius: var(--radius);
}

.progress {
  padding: 0.5rem 0;
  background-color: var(--clr-primary-5);
  border-radius: var(--radius);
  position: relative;
}

.html {
  width: 50%;
}

.html::before {
  content: "50%";
  position: absolute;
  right: 0;
  top: -2rem;
}

.javascript {
  width: 70%;
}

.javascript::before {
  content: "70%";
  position: absolute;
  right: 0;
  top: -2rem;
}

.react {
  width: 80%;
}

.react::before {
  content: "80%";
  position: absolute;
  right: 0;
  top: -2rem;
}

.node {
  width: 50%;
}

.node::before {
  content: "50%";
  position: absolute;
  right: 0;
  top: -2rem;
}

.php {
  width: 70%;
}

.php::before {
  content: "70%";
  position: absolute;
  right: 0;
  top: -2rem;
}

.python {
  width: 80%;
}

.python::before {
  content: "80%";
  position: absolute;
  right: 0;
  top: -2rem;
}

@media screen and (min-width: 760px) {
  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/*
=============== 
Timeline
===============
*/

.timeline-header {
  text-align: center;
  padding-top: 4rem;
}
.timeline-line {
  width: 5rem;
  border-bottom: 0.2rem solid var(--clr-primary-5);
  margin: 0 auto;
}

.timeline-container {
  max-width: 45rem;
  margin: 0 auto;
  padding: 4rem 3rem;
}

.number {
  font-size: 1rem;
  background-color: var(--clr-primary-5);
  display: inline-block;
  padding: 0.25rem 0.7rem;
  border-radius: 50%;
  position: absolute;
}

.n-1 {
  right: -1rem;
  top: 40%;
}

.n-2 {
  top: 40%;
  left: -1rem;
}

.n-3 {
  right: -1rem;
  top: 40%;
}

.n-4 {
  top: 40%;
  left: -1rem;
}

.n-5 {
  right: -1rem;
  top: 40%;
}

.n-6 {
  top: 40%;
  left: -1rem;
}

.time {
  padding: 3rem 2rem;
  border-radius: 20px;
  position: relative;
}

.time-1 {
  border-right: 3px dotted var(--clr-primary-5);
}

.time-2 {
  border-top: 3px dotted var(--clr-primary-5);
  border-left: 3px dotted var(--clr-primary-5);
}

.time-3 {
  border-top: 3px dotted var(--clr-primary-5);
  border-right: 3px dotted var(--clr-primary-5);
}

.time-4 {
  border-top: 3px dotted var(--clr-primary-5);
  border-left: 3px dotted var(--clr-primary-5);
}

.time-5 {
  border-top: 3px dotted var(--clr-primary-5);
  border-right: 3px dotted var(--clr-primary-5);
}

.time-6 {
  border-top: 3px dotted var(--clr-primary-5);
  border-left: 3px dotted var(--clr-primary-5);
}
/*
=============== 
Blog
===============
*/

.blog {
  background-color: var(--clr-grey-10);
}

.blog-header {
  text-align: center;
  padding: 4rem 0;
}

.blog-line {
  width: 5rem;
  border-bottom: 0.2rem solid var(--clr-primary-5);
  margin: 0 auto;
}

.blog-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding-bottom: 4rem;
}

.card {
  position: relative;
  height: 25rem;
  perspective: 1500px;
}

.card-side {
  position: absolute;
  backface-visibility: hidden;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 2s linear;
}

.frontside {
  background-color: var(--clr-white);
}

.backside {
  display: grid;
  place-content: center;
  background-color: var(--clr-primary-10);
  transform: rotateY(180deg);
}

.card:hover .frontside {
  transform: rotateY(-180deg);
}

.card:hover .backside {
  transform: rotateY(0deg);
}

.card img {
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.card-info {
  padding: 1rem;
}

.card-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.img-icon {
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 50%;
}

.img-icon img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

.footer-info {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  justify-self: flex-end;
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  .blog-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1080px) {
  .blog-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* .card:hover .backside {
  transform: rotateY(180deg);
} */

/*
=============== 
Footer
===============
*/

.footer {
  background-color: black;
  text-align: center;
  margin-bottom: -1rem;
}

.footer-soc-icons {
  color: var(--clr-primary-5);
  padding: 2rem;
  font-size: 1.5rem;
  transition: var(--transition);
}

.footer-soc-icons .soc-icon:hover {
  color: var(--clr-white);
}

.footer-text {
  color: var(--clr-grey-4);
  padding-bottom: 4rem;
}

/*
=============== 
About Page
===============
*/

.aboutPage-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.about-header {
  text-align: center;
  padding-top: 4rem;
}

.about-line {
  width: 5rem;
  border-bottom: 0.2rem solid var(--clr-primary-5);
  margin: 0 auto;
}

.about-text {
  padding: 3rem 2rem;
  max-width: 50rem;
  margin: 0 auto;
  font-size: 1rem;
}

.my-link {
  color: var(--clr-primary-5);
  text-transform: uppercase;
}

.my-link:hover {
  color: var(--clr-grey-3);
}

/*
=============== 
Projects Page
===============
*/

.projects-header {
  text-align: center;
  padding: 9rem 0;
  background-color: var(--clr-primary-10);
}

.projects-container {
  background-color: var(--clr-white);
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.project-img-container {
  height: 15rem;
  position: relative;
}

.project-img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.project-icon {
  background-color: var(--clr-primary-5);
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  position: absolute;
  bottom: -2rem;
  left: 45%;
  border: 0.4rem solid var(--clr-grey-10);
}

.project-card-info {
  background-color: var(--clr-grey-10);
}
.project-info {
  padding: 2rem;
}

.project-card-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: var(--clr-primary-5);
}

.source-code {
  color: var(--clr-primary-5);
  justify-self: end;
  transition: var(--transition);
}

.source-code:hover {
  color: var(--clr-grey-3);
}

/*
=============== 
Contacts Page
===============
*/

.contactpage-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.contact-header {
  text-align: center;
  padding-top: 4rem;
}

.contact-line {
  width: 5rem;
  border-bottom: 0.2rem solid var(--clr-primary-5);
  margin: 0 auto;
}

.contact-info {
  padding-top: 3rem;
}

.contact-text {
  padding: 1rem 2rem;
  max-width: 50rem;
  margin: 0 auto;
}

.my-link {
  color: var(--clr-primary-5);
  text-transform: uppercase;
}

.my-link:hover {
  color: var(--clr-grey-3);
}
