/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 77%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* added during recording */

.line {
  width: 5rem;
  border-bottom: 0.2rem solid var(--clr-primary-5);
  margin-bottom: 2rem;
}

/*
=============== 
Navbar
===============
*/

.navbar-container {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  justify-self: flex-start;
}

.nav-btn {
  justify-self: flex-end;
  font-size: 2rem;
  color: var(--clr-primary-4);
}

.nav-links {
  display: none;
  justify-self: flex-end;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

.nav-links a {
  color: var(--clr-grey-3);
  letter-spacing: var(--spacing);
  font-weight: 800;
}

@media screen and (min-width: 760px) {
  .nav-links {
    display: grid;
  }
  .nav-btn {
    display: none;
  }

  .navbar {
    background-color: var(--clr-primary-10);
  }
}

/*
=============== 
Sidebar
===============
*/

/*
=============== 
Hero
===============
*/
/* underline added to globals */
.hero {
  background-color: var(--clr-primary-10);
}

.hero-container {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.hero-banner {
  padding: 1rem;
}

.hero-text {
  letter-spacing: var(--spacing);
  color: var(--clr-grey-5);
  margin-bottom: 2rem;
}

.hero-btn {
  margin-bottom: 3rem;
}

.soc-icons {
  font-size: 1.5rem;
}

.soc-icon {
  padding-right: 2rem;
}

.hero-img {
  display: block;
  position: relative;
  max-width: 20rem;
}

.show-img {
  display: none;
}

.hero-photo {
  border-radius: var(--radius);
  position: relative;
}

.hero-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid var(--clr-primary-5);
  top: 2rem;
  left: 2rem;
  border-radius: var(--radius);
}

@media screen and (min-width: 935px) {
  .show-img {
    display: block;
  }

  .hero-banner {
    display: grid;
    min-height: 90vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
}

/*
=============== 
About
===============
*/
/* section title added to globals */

.about-img-container {
  max-width: 20rem;
  margin: 5rem auto;
  position: relative;
  z-index: 3;
}

.about-container {
  margin-bottom: 4rem;
}

@media screen and (min-width: 960px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .about-img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid var(--clr-primary-5);
    border-radius: var(--radius);
    top: 2rem;
    left: -2rem;
  }

  .about-img {
    position: relative;
  }
}
/*
=============== 
Services
===============
*/
/* small screen layout setup */
/* bg-grey in globals */

.services-container {
  padding-bottom: 4rem;
}

.services {
  background: var(--clr-grey-10);
  margin: 2rem 0;
  text-align: center;
}

.service-line {
  width: 5rem;
  border-bottom: 0.2rem solid var(--clr-primary-5);
  margin: 0 auto;
}

.title {
  padding: 5rem 0;
}

.service {
  background-color: var(--clr-white);
  text-align: center;
  margin-bottom: 2rem;
  transition: var(--transition);
}

.service-icon {
  font-size: 2rem;
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.service-title {
  margin-bottom: 1rem;
}

.card-line {
  width: 3rem;
}

.service-text {
  text-align: center;
  padding: 0 2rem;
  padding-bottom: 3rem;
  transition: var(--transition);
}

.service:hover {
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
}

.service:hover p {
  color: var(--clr-white);
}

.service:hover .card-line {
  border-color: var(--clr-white);
}
@media screen and (min-width: 660px) {
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

/*
=============== 
Projects
===============
*/

.projects {
  padding: 4rem 0;
}

.projects-header {
  text-align: center;
}

.projects-header p {
  padding: 2rem;
  max-width: 500px;
  margin: 0 auto;
}

.projects-line {
  width: 5rem;
  border-bottom: 0.2rem solid var(--clr-primary-5);
  margin: 0 auto;
}

.projects-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 200px 200px 200px;
}

.tile-img {
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
  position: absolute;
}

.tile {
  position: relative;
  transition: var(--transition);
}

.tile-info-container {
  opacity: 0;
  display: grid;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  transition: var(--transition);
  background-color: rgba(232, 185, 74, 0.9);
  outline: 3px solid var(--clr-white);
}

.tile-info p {
  color: var(--clr-white);
  transition: var(--transition);
}

.tile:hover .tile-info-container {
  opacity: 1;
  outline-offset: -2rem;
}

@media screen and (min-width: 671px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 960px) {
  .projects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1190px) {
  .tile-1 {
    grid-row: 1/3;
  }
  .tile-2 {
    grid-column: 2/4;
  }
}

/*
=============== 
Connect
===============
*/

/*
=============== 
Skills
===============
*/
/*
=============== 
Timeline
===============
*/

/*
=============== 
Blog
===============
*/

/*
=============== 
Footer
===============
*/
/*
=============== 
Single Page
===============
*/

/*
=============== 
Products Page
===============
*/
